{
  "account": "YOUR_ACCOUNT",
  "user": "YOUR_USER",
  "url": "https://YOUR_ACCOUNT.snowflakecomputing.com",
  "private_key": "-----BEGIN PRIVATE KEY-----\\nYOUR_PRIVATE_KEY_HERE\\n-----END PRIVATE KEY-----",
  "database": "DASH_AUTOMATED_INTELLIGENCE_DB",
  "schema": "RAW",
  "warehouse": "HOL_WH",
  "role": "AUTOMATED_INTELLIGENCE_ADMIN"
}
